<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Wandoujia 2.0 USB Debug</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="stylesheets/usb-debug.css" />
    </head>
    <body>
        <div class="tmp_select" onselectstart="javascript:return false;"></div>
        <div class="tmp_feedback" onselectstart="javascript:return false;"></div>
        <div class="tmp_silder" onselectstart="javascript:return false;"></div>
        <div class="tmp_detail"></div>
        <div class="tmp_footer w-cf"  onselectstart="javascript:return false;"></div>
        <script type="text/template" id="footerView">
            <div class="button-return">返回</div>
            <span class="feedback link">还是连不上，试试别的办法！</span>
        </script>
        <script type="text/template" id="feedBackView">
            <div>
                <span class="describe">还是连不上怎么办？试试下面的方法吧！</span>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="bg"></div>
                </div>
                <div class="right sms">
                    <div class="message">
                        <div class="describe">下载快速设置器到手机，打开「USB 调试」开关:</div>
                        <div class="body">
                            <div class="w-form-inline send-message">
                                <input type="text"></input>
                                <button class="w-btn button-send">发送短信</button>
                            </div>
                            <p class="tip w-text-info">请您收到短信后按提示操作</p>
                            <p class="not-a-number w-text-warning">您输入的好像不是一个手机号</p>
                            <p class="connect-error w-text-warning">貌似网络不给力，请稍后再试～</p>
                        </div>
                    </div>
                    <div class="describe">访问豌豆荚帮助中心，获取更多帮助：</div>
                    <div class="href-container">
                        <a class="href usb-help" href="http://www.wandoujia.com/help/?do=topic&id=23884668" target="_default"><div class="img"></div><span class="wording">查看打开「USB 调试」的帮助</span></a>
                        <a class="href usb-bbs" href="http://www.wandoujia.com/help/?do=add_ticket" target="_default"><div class="img"></div><span class="wording">发帖求助，让专业的豌豆们帮您解答</span></a>
                    </div>
                </div>
                <div class="right qr">
                    <div class="message">
                        <div class="describe">下载「USB 调试快速设置器」到手机</div>
                        <div class="body">
                            <div class="qrbg"></div>
                            <div class="huo"></div>
                            <div class="short-url">
                                <span class="w-text-info">在手机浏览器中输入 :</span>
                                <span class="url">http://wandou.im/wusb</span>
                            </div>
                        </div>
                    </div>
                    <div class="describe">访问豌豆荚帮助中心，获取更多帮助：</div>
                    <div class="href-container">
                        <a class="href usb-help" href="http://help.wandoujia.com/entries/21550377-usb" target="_default">
                            <span class="img"></span>
                            <span class="wording">查看打开「USB 调试」的帮助</span>
                        </a>
                        <% if (!showQQ) {%>
                        <a class="href usb-bbs" href="http://www.wandoujia.com/help/?do=topic&id=23884668" target="_default">
                            <span class="img"></span>
                            <span class="wording">发帖求助，让专业的豌豆们帮您解答</span>
                        </a>
                        <% } else { %>
                        <a class="href qq" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwMTAzMl85Mzk0NV80MDA2NTI4NzA2XzJf" target="_default">
                            <span class="img"></span>
                            <span class="wording">QQ 联系豌豆们帮忙</span>
                            <span class="qq"></span>
                        </a>
                       <% } %>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="selectBrandView">
            <span class="describe">请按手机品牌选择对应的教程哦~</span>
                <ul class="select brands w-cf">
                <%
                    _.each(brands, function (brand) {
                %>
                    <li class="u-shadow brand <%= brand.className %>">
                        <div class="color"></div>
                        <div class="h5 title"><%= brand.name %></div>
                    </li>
                <%
                    });
                %>
                </ul>
                <div class="system-container">
                    <ul class="select systems w-cf">
                    <%
                        _.each(systems, function (system) {
                    %>
                        <li class="u-shadow system <%= system.className %>">
                            <div class="color"></div>
                            <div class="h5 title"><%= system.name %></div>
                        </li>
                    <%
                        });
                    %>
                    </ul>
                </div>
        </script>
        <script type="text/template" id="selectView">
                <span class="describe w-text-info">请根据您的系统版本选择：</span>
                <ul class="select systems w-cf">
                <%
                    _.each(systems, function (system) {
                %>
                    <li class="u-shadow system <%= system.className %>">
                        <div class="top"></div>
                        <div class="h5 title"><%= system.name %></div>
                    </li>
                <%
                    });
                %>

                    <li class="u-shadow system howto">
                        <div class="top">
                            <a target="_default" href="http://www.wandoujia.com/help/?do=topic&id=31556506"></a>
                        </div>
                        <div class="h5 title">
                             <a target="_default" href="http://www.wandoujia.com/help/?do=topic&id=31556506">如何识别手机系统是什么？</a>
                        </div>
                    </li>
                </ul>
        </script>
        <script type="text/template" id="sliderViewHead">
            <div class="header">
                <span class="desc">请按提示打开USB调试开关</span>
                <span class="return link">返回教程</span>
                <span class="next">教程不对，换一个</span>
                <a class="link qq" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwMTAzMl85Mzk0NV80MDA2NTI4NzA2XzJf" target="_default">
                    <span class="wording download">QQ 联系豌豆们帮忙</span>
                    <span class="qq"></span>
                </a>
                <span class="general link">查看通用教程</span>
                <span class="checkusb">我已打开</span>
            </div>
        </script>
        <script type="text/template" id="sliderViewBody">
            <div class="content view-box">
                <div class="overview">
                <% for(var n = 0; n < data.length; n ++ ) { %>
                     <ul class="slider">
                        <% if (n > 0) {%>
                            <li class="start">
                                <div class="help">
                                    <h5>教程 <%= n + 1 %></h5>
                                    <span class="link">
                                        <span class="wording w-text-info">前一个教程不对？</span>
                                    </span>
                                    <span class="link">
                                        <span class="wording w-text-info">第 <%= n + 1%> 个教程开始咯~</span>
                                    </span>
                                </div>
                            </li>
                        <% } %>
                        <% for(var i = 0; i < data[n].guide_content.length; i++ ) { %>

                            <li class="u-shadow">
                                <img src="images/loading.gif" class="loading"></img>
                            </li>

                        <% } %>

                        <% if (n === data.length - 1) { %>
                            <li class="last_page u-shadow">
                                <div class="wanxiaodou"></div>
                                <div class="help">
                                    <h5>此教程是否能帮到您？</h5>
                                    <span class="link">
                                        <span class="img"></span>
                                        <span class="wording general">查看通用教程</span>
                                    </span>
                                    <span class="link">
                                        <span class="img"></span>
                                        <span class="wording download">没看懂，试试别的办法</span>
                                    </span>
                                </div>
                            </li>
                        <% } %>
                        </ul>
                    <% } %>
                </div>
                <div class="left-arrow u-shadow"></div>
                <div class="right-arrow u-shadow"></div>
            </div>
            <div class="scrollbar">
                <div class="track">
                    <div class="thumb"></div>
                </div>
            </div>
        </script>
        <script type="text/template" id="sliderViewLastPage">
            <div class="content last_page">
                <div class="wanxiaodou"></div>
                <div class="help">
                    <h5>教程看完了还没有打开？</h5>
                    <span class="link">
                        <span class="img"></span>
                        <span class="wording general">查看通用教程试试</span>
                    </span>
                    <% if (!showQQ) {%>
                    <span class="link">
                        <span class="img"></span>
                        <span class="wording download">我不要看教程了，试试别的办法</span>
                    </span>
                    <% } else { %>
                    <a class="link qq" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAwMTAzMl85Mzk0NV80MDA2NTI4NzA2XzJf" target="_default">
                        <span class="img"></span>
                        <span class="wording download">QQ 联系豌豆们帮忙</span>
                        <span class="qq"></span>
                    </a>
                    <% } %>
                </div>
            </div>
        </script>
        <script type="text/template" id="detailView">
            <h6 class="describe w-text-info">请将以下信息复制下来，粘贴到和豌豆工程师的聊天窗口中发给我们</h6>
            <textarea class="user-detail"></textarea>
        </script>
        <!--[if IE 6]>
            <script src="javascripts/DD_belatedPNG_0.0.8a-min.js"></script>
        <![endif]-->
        <!-- build:js javascripts/usb-debug.js -->
        <script type="text/javascript" src="components/jquery/jquery.js"></script>
        <script type="text/javascript" src="javascripts/jquery.color.js"></script>
        <script type="text/javascript" src="components/underscore/underscore.js"></script>
        <script type="text/javascript" src="javascripts/usb-debug.js"></script>
        <script type="text/javascript" src="javascripts/jquery.scrollbar.js"></script>
        <!-- endbuild -->
    </body>
</html>
